{{ define "main" }}
	{{ if .Site.Params.sidebar.sidebar }}
	<div class="columns">
		<div class="column is-8">
			<section class="section">
			    <article>
					<div class="content">
						{{- .Content -}}
					</div>
			    </article>
				{{- $post := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
			    {{- if $post }}
			    {{ if or .NextInSection .PrevInSection }}
			    <hr>
				<nav class="bd-prev-next-bis">
					{{ if .NextInSection }}
					<a class="bd-prev-next-bis-previous" href="{{ .NextInSection.Permalink }}" title="{{.NextInSection.Title}}">
						← {{.NextInSection.Title}}
					</a>
					{{ end }}
					{{ if .PrevInSection }}
					<a class="bd-prev-next-bis-next" href="{{ .PrevInSection.Permalink }}" title="{{.PrevInSection.Title}}">
						{{.PrevInSection.Title}} →
					</a>
					{{ end }}
				</nav>
				{{ end }}
				{{- end }}
			</section>
			{{- partial "disqus.html" . -}}
		</div>
		{{- partial "sidebar.html" . -}}
	</div>
	{{ else }}
	<section class="section">
	    <article>
			<div class="content">
				{{- .Content -}}
			</div>
	    </article>
	</section>
	{{- partial "disqus.html" . -}}
	{{ end }}
{{ end }}
