{{ if .IsHome }}
<script type="text/javascript" src="{{ $.Site.BaseURL }}js/nav-burger.js"></script>
<script type="text/javascript" src="{{ $.Site.BaseURL }}js/toggle-theme.js"></script>
{{ else }}
<footer class="footer has-background-info">
	<div class="content has-text-white">
		{{ if .Site.Params.widgets.social_footer }}
		{{ with .Site.Params.social }}
		<div class="buttons">
			{{ range sort . "weight" }}
			<a href="{{ .url }}" target="_blank">
				<i class="{{ .icon }} fa-2x"></i>
			</a>
			{{ end }}
		</div>
		{{ end }}
		{{ end }}
		<p class="has-text-centered" style="margin-bottom: 10px !important;">
			{{ with .Site.Params.copyright }} {{ . }}{{ end }}
		</p>
		<p class="has-text-centered">
			{{ T "copyright" | safeHTML }} | {{ T "theme_name" }} <a href="http://diazvictor.github.io/blue-ocean/" target="_blank" class="has-text-white"><u>Blue Ocean</u></a>
		</p>
<!--
		<div class="columns">
			<div class="column has-text-left">{{ T "copyright" | safeHTML }}</div>
			<div class="column has-text-centered">{{ with .Site.Params.copyright }} {{ . }} {{ end }}</div>
			<div class="column has-text-right">{{ T "theme_name" }} <a href="http://diazvictor.github.io/blue-ocean/" target="_blank" class="has-text-white"><u>Blue Ocean</u></a></div>
		</div>
-->
		{{ if .Site.Params.widgets.scrolltop }}
		<div class="buttons">
			<a href="#top" class="has-text-centered">
				<i class="fas fa-chevron-up"></i>
			</a>
		</div>
		{{ end }}
	</div>
</footer>
<script type="text/javascript" src="{{ $.Site.BaseURL }}js/nav-burger.js"></script>
<script type="text/javascript" src="{{ $.Site.BaseURL }}js/toggle-theme.js"></script>
<script type="text/javascript" src="{{ $.Site.BaseURL }}js/searchbox.js"></script>
{{ end }}
