<section class="section">
	{{ range (.Paginator .Site.Params.recent_num).Pages }}
    {{ if eq .Type "post"}}
    <article class="box">
        <header>
            <a href="{{.RelPermalink}}">
                <h1 class="title">{{ .Title }}</h1>
            </a>
            <i class="fas fa-calendar"></i>&nbsp;<time>{{- .Date.Format (.Site.Params.dateFormat | default "2 January, 2006" ) -}}</time>
            {{ if .Site.Params.readTime_post }}
			&nbsp;<i class="fas fa-clock"></i>&nbsp;{{ .ReadingTime }} minute read
			{{ end }}
        </header>
        {{ if .Summary }}
        <br>
        {{ .Summary }}
        <footer>
            <br>
            <a href="{{.RelPermalink}}" class="button is-link">Read More &raquo;</a>
        </footer>
        {{ end }}
    </article>
    {{ end }}
    {{ end }}

	{{ if (gt .Paginator.TotalPages 1) }}
    <nav class="pagination" role="navigation" aria-label="pagination">
		{{ if .Paginator.HasPrev }}
		<a href="{{ .Paginator.Prev.URL }}" class="pagination-previous">Previous</a>
		{{ else }}
		<a class="pagination-previous" disabled>Previous</a>
		{{ end }}

		{{ if .Paginator.HasNext }}
		<a href="{{ .Paginator.Next.URL }}" class="pagination-next">Next page</a>
		{{ else }}
			<a class="pagination-next" disabled>Next page</a>
		{{ end }}

		<ul class="pagination-list">
			{{ $pageCurrent := .Paginator.PageNumber }}
			{{ range .Paginator.Pagers }}
			<li>
				<a href="/post/page/{{ .PageNumber }}/" class="pagination-link {{ if eq .PageNumber $pageCurrent }}is-current{{ end }}">{{ .PageNumber }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>
	{{ end }}
</section>