<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{- partial "head.html" . -}}
<body>
	<div class="hero is-info is-fullheight">
		<div class="hero-body">
            <div class="container has-text-centered">
				<h1 class="title is-404">{404}</h1>
				<br>
				<h1 class="subtitle is-4">{{ T "404_msg" }}</h1>
				<a href="javascript:0;" class="button is-link is-hovered is-large" onclick="history.back()">← {{ T "404_go_back" }}</a>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{ $.Site.BaseURL }}js/toggle-theme.js"></script>
</body>
</html>